@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ds-text: #172b4d;
  --ds-text-subtle: #44546f;
  --ds-text-subtlest: #626f86;
  --ds-text-inverse: #ffffff;
  --ds-text-disabled: #8590a2;
  --ds-text-brand: #0c66e4;
  --ds-text-success: #216e4e;
  --ds-text-danger: #ae2a19;
  --ds-text-warning: #a54800;
  --ds-text-warning-inverse: #172b4d;
  --ds-text-attention: #9a6700;
  --ds-text-severe: #a54800;
  --ds-text-information: #0055cc;
  --ds-text-discovery: #5e4db2;
  --ds-text-open: #5e4db2;
  --ds-text-closed: #ae2a19;
  --ds-text-done: #216e4e;
  --ds-text-selected: #0c66e4;
  --ds-link: #0c66e4;
  --ds-link-pressed: #0055cc;

  --ds-background-default: #ffffff;
  --ds-background-neutral-subtle: #00000000;
  --ds-background-neutral-subtle-hovered: #091e420f;
  --ds-background-neutral-subtle-pressed: #091e4224;
  --ds-background-neutral: #091e4208;
  --ds-background-neutral-hovered: #091e420f;
  --ds-background-neutral-pressed: #091e4224;
  --ds-background-neutral-bold: #44546f;
  --ds-background-neutral-bold-hovered: #2c3e5d;
  --ds-background-neutral-bold-pressed: #172b4d;
  --ds-background-brand-bold: #0c66e4;
  --ds-background-brand-bold-hovered: #0055cc;
  --ds-background-brand-bold-pressed: #09326c;
  --ds-background-success: #dffcf0;
  --ds-background-success-bold: #216e4e;
  --ds-background-success-bold-hovered: #1f845a;
  --ds-background-success-bold-pressed: #164b35;
  --ds-background-danger: #ffedeb;
  --ds-background-danger-bold: #ca3521;
  --ds-background-danger-bold-hovered: #ae2a19;
  --ds-background-danger-bold-pressed: #601e16;
  --ds-background-warning: #fff7d6;
  --ds-background-warning-bold: #e2b203;
  --ds-background-warning-bold-hovered: #cf9f02;
  --ds-background-warning-bold-pressed: #b38600;
  --ds-background-attention: #fff8c5;
  --ds-background-attention-bold: #9a6700;
  --ds-background-attention-bold-hovered: #7f5f01;
  --ds-background-attention-bold-pressed: #533f04;
  --ds-background-severe: #fff1e5;
  --ds-background-severe-bold: #a54800;
  --ds-background-severe-bold-hovered: #702e00;
  --ds-background-severe-bold-pressed: #4a1e00;
  --ds-background-information: #e9f2ff;
  --ds-background-information-bold: #0c66e4;
  --ds-background-information-bold-hovered: #0055cc;
  --ds-background-information-bold-pressed: #09326c;
  --ds-background-discovery: #f3f0ff;
  --ds-background-discovery-bold: #6e5dc6;
  --ds-background-discovery-bold-hovered: #5e4db2;
  --ds-background-discovery-bold-pressed: #352c63;
  --ds-background-selected: #e9f2ff;
  --ds-background-selected-hovered: #cce0ff;
  --ds-background-selected-pressed: #85b8ff;
  --ds-background-selected-bold: #0c66e4;
  --ds-background-selected-bold-hovered: #0055cc;
  --ds-background-selected-bold-pressed: #09326c;
  --ds-background-open: #f3f0ff;
  --ds-background-closed: #ffedeb;
  --ds-background-done: #dffcf0;

  --ds-surface: #ffffff;
  --ds-surface-sunken: #f7f8f9;
  --ds-surface-raised: #ffffff;
  --ds-surface-raised-hovered: #f7f8f9;
  --ds-surface-raised-pressed: #f1f2f4;
  --ds-surface-overlay: #ffffff;
  --ds-surface-overlay-hovered: #f7f8f9;
  --ds-surface-overlay-pressed: #f1f2f4;

  --ds-border: #dfe1e6;
  --ds-border-bold: #758195;
  --ds-border-focused: #388bff;
  --ds-border-selected: #0c66e4;
  --ds-border-brand: #0c66e4;
  --ds-border-success: #22a06b;
  --ds-border-danger: #e34935;
  --ds-border-warning: #cf9f02;
  --ds-border-attention: #d4a72c;
  --ds-border-severe: #cf9f02;
  --ds-border-information: #1d7afc;
  --ds-border-discovery: #8270db;

  --ds-shadow-raised: 0px 1px 1px #091e4240, 0px 0px 1px #091e424f;
  --ds-shadow-overlay: 0px 8px 12px #091e4226, 0px 0px 1px #091e424f;
  --ds-shadow-floating: 0px 12px 28px #091e4233, 0px 4px 10px #091e421a;
  --ds-shadow-overflow: 0px 0px 8px #091e4229, 0px 0px 1px #091e424f;
  --ds-blanket: #091e427a;
  --ds-blanket-selected: #388bff29;

  --ds-space-025: 0.125rem;
  --ds-space-050: 0.25rem;
  --ds-space-075: 0.375rem;
  --ds-space-100: 0.5rem;
  --ds-space-150: 0.75rem;
  --ds-space-200: 1rem;
  --ds-space-250: 1.25rem;
  --ds-space-300: 1.5rem;
  --ds-space-400: 2rem;
  --ds-space-500: 2.5rem;
  --ds-space-600: 3rem;
  --ds-space-800: 4rem;
  --ds-space-1000: 5rem;
  --ds-space-negative-025: -0.125rem;
  --ds-space-negative-050: -0.25rem;
  --ds-space-negative-075: -0.375rem;
  --ds-space-negative-100: -0.5rem;
  --ds-space-negative-150: -0.75rem;
  --ds-space-negative-200: -1rem;
  --ds-space-negative-300: -1.5rem;
  --ds-space-negative-400: -2rem;

  --ds-radius-050: 3px;
  --ds-radius-100: 4px;
  --ds-radius-200: 8px;
  --ds-radius-300: 12px;
  --ds-radius-400: 16px;
  --ds-font-weight-light: 300;
  --ds-font-weight-regular: 400;
  --ds-font-weight-medium: 500;
  --ds-font-weight-semibold: 600;
  --ds-font-weight-bold: 700;
  --ds-lineHeight-default: 1.5;
  --ds-lineHeight-condensed: 1.25;
  --ds-lineHeight-tight: 1;
}

.dark {
  --ds-text: #b6c2cf;
  --ds-text-subtle: #9fadbc;
  --ds-text-subtlest: #8c9bab;
  --ds-text-inverse: #1d2125;
  --ds-text-disabled: #bfdbf847;
  --ds-text-brand: #579dff;
  --ds-text-success: #4bce97;
  --ds-text-danger: #f87462;
  --ds-text-warning: #f5cd47;
  --ds-text-warning-inverse: #1d2125;
  --ds-text-attention: #d29922;
  --ds-text-severe: #f5cd47;
  --ds-text-information: #579dff;
  --ds-text-discovery: #9f8fef;
  --ds-text-open: #9f8fef;
  --ds-text-closed: #f87462;
  --ds-text-done: #4bce97;
  --ds-text-selected: #579dff;
  --ds-link: #579dff;
  --ds-link-pressed: #85b8ff;

  --ds-background-default: #1d2125;
  --ds-background-neutral-subtle: #ffffff00;
  --ds-background-neutral-subtle-hovered: #a1bdd914;
  --ds-background-neutral-subtle-pressed: #a1bdd929;
  --ds-background-neutral: #a1bdd914;
  --ds-background-neutral-hovered: #a1bdd91f;
  --ds-background-neutral-pressed: #a1bdd929;
  --ds-background-neutral-bold: #9fadbc;
  --ds-background-neutral-bold-hovered: #b6c2cf;
  --ds-background-neutral-bold-pressed: #c7d1db;
  --ds-background-brand-bold: #579dff;
  --ds-background-brand-bold-hovered: #85b8ff;
  --ds-background-brand-bold-pressed: #cce0ff;
  --ds-background-success: #1c3329;
  --ds-background-success-bold: #4bce97;
  --ds-background-success-bold-hovered: #7ee2b8;
  --ds-background-success-bold-pressed: #baf3db;
  --ds-background-danger: #42221f;
  --ds-background-danger-bold: #f87462;
  --ds-background-danger-bold-hovered: #fd9891;
  --ds-background-danger-bold-pressed: #ffd2cc;
  --ds-background-warning: #332e1b;
  --ds-background-warning-bold: #f5cd47;
  --ds-background-warning-bold-hovered: #f8d66d;
  --ds-background-warning-bold-pressed: #ffe2a0;
  --ds-background-information: #1c2b41;
  --ds-background-information-bold: #579dff;
  --ds-background-information-bold-hovered: #85b8ff;
  --ds-background-information-bold-pressed: #cce0ff;
  --ds-background-discovery: #2b2440;
  --ds-background-discovery-bold: #9f8fef;
  --ds-background-discovery-bold-hovered: #b8acf6;
  --ds-background-discovery-bold-pressed: #dfd8fd;
  --ds-background-selected: #1c2b41;
  --ds-background-selected-hovered: #2c4260;
  --ds-background-selected-pressed: #345074;
  --ds-background-selected-bold: #579dff;
  --ds-background-selected-bold-hovered: #85b8ff;
  --ds-background-selected-bold-pressed: #cce0ff;
  --ds-background-open: #2b2440;
  --ds-background-closed: #42221f;
  --ds-background-done: #1c3329;

  --ds-surface: #1d2125;
  --ds-surface-sunken: #161a1d;
  --ds-surface-raised: #22272b;
  --ds-surface-raised-hovered: #282e33;
  --ds-surface-raised-pressed: #2c333a;
  --ds-surface-overlay: #282e33;
  --ds-surface-overlay-hovered: #2c333a;
  --ds-surface-overlay-pressed: #38414a;

  --ds-border: #a6c5e229;
  --ds-border-bold: #738496;
  --ds-border-focused: #579dff;
  --ds-border-selected: #579dff;
  --ds-border-brand: #579dff;
  --ds-border-success: #4bce97;
  --ds-border-danger: #f87462;
  --ds-border-warning: #f5cd47;
  --ds-border-attention: #d29922;
  --ds-border-severe: #f5cd47;
  --ds-border-information: #579dff;
  --ds-border-discovery: #9f8fef;

  --ds-shadow-raised: 0px 1px 1px #03040442, 0px 0px 1px #bcd6f00a;
  --ds-shadow-overlay: 0px 8px 12px #0304045c, 0px 0px 1px #bcd6f00a;
  --ds-shadow-floating: 0px 12px 28px #00000080, 0px 4px 10px #0000004d;
  --ds-shadow-overflow: 0px 0px 8px #0304045c, 0px 0px 1px #bcd6f00a;
  --ds-blanket: #03040480;
  --ds-blanket-selected: #579dff40;
}
