@tailwind base;
@tailwind components;
@tailwind utilities;

/* DESIGN_TOKENS_START */
:root {
  --ds-background-accent-blue-bolder: #0c66e4;
  --ds-background-accent-blue-subtle: #cce0ff;
  --ds-background-accent-blue-subtlest: #e9f2ff;
  --ds-background-accent-green-bolder: #1f845a;
  --ds-background-accent-green-subtle: #baf3db;
  --ds-background-accent-green-subtlest: #dffcf0;
  --ds-background-accent-lime-bolder: #5b7f24;
  --ds-background-accent-lime-subtle: #d3f1a7;
  --ds-background-accent-lime-subtlest: #efffd6;
  --ds-background-accent-magenta-bolder: #ae4787;
  --ds-background-accent-magenta-subtle: #fdd0ec;
  --ds-background-accent-magenta-subtlest: #ffecf8;
  --ds-background-accent-orange-bolder: #b65c02;
  --ds-background-accent-orange-subtle: #fedec8;
  --ds-background-accent-orange-subtlest: #fff3eb;
  --ds-background-accent-purple-bolder: #6e5dc6;
  --ds-background-accent-purple-subtle: #dfd8fd;
  --ds-background-accent-purple-subtlest: #f3f0ff;
  --ds-background-accent-red-bolder: #ca3521;
  --ds-background-accent-red-subtle: #ffd2cc;
  --ds-background-accent-red-subtlest: #ffedeb;
  --ds-background-accent-teal-bolder: #227d9b;
  --ds-background-accent-teal-subtle: #c6edfb;
  --ds-background-accent-teal-subtlest: #e7f5f7;
  --ds-background-accent-yellow-bolder: #946f00;
  --ds-background-accent-yellow-subtle: #f8e6a0;
  --ds-background-accent-yellow-subtlest: #fff7d6;
  --ds-background-attention: #fff8c5;
  --ds-background-attention-bold: #9a6700;
  --ds-background-attention-bold-hovered: #7f5f01;
  --ds-background-attention-bold-pressed: #533f04;
  --ds-background-brand-bold: #0c66e4;
  --ds-background-brand-bold-hovered: #0055cc;
  --ds-background-brand-bold-pressed: #09326c;
  --ds-background-closed: #ffedeb;
  --ds-background-danger: #ffedeb;
  --ds-background-danger-bold: #ca3521;
  --ds-background-danger-bold-hovered: #ae2a19;
  --ds-background-danger-bold-pressed: #601e16;
  --ds-background-default: #ffffff;
  --ds-background-discovery: #f3f0ff;
  --ds-background-discovery-bold: #6e5dc6;
  --ds-background-discovery-bold-hovered: #5e4db2;
  --ds-background-discovery-bold-pressed: #352c63;
  --ds-background-done: #dffcf0;
  --ds-background-information: #e9f2ff;
  --ds-background-information-bold: #0c66e4;
  --ds-background-information-bold-hovered: #0055cc;
  --ds-background-information-bold-pressed: #09326c;
  --ds-background-neutral: #091e4208;
  --ds-background-neutral-bold: #44546f;
  --ds-background-neutral-bold-hovered: #2c3e5d;
  --ds-background-neutral-bold-pressed: #202124;
  --ds-background-neutral-hovered: #091e420f;
  --ds-background-neutral-pressed: #dcdde1;
  --ds-background-neutral-subtle: #00000000;
  --ds-background-neutral-subtle-hovered: #091e420f;
  --ds-background-neutral-subtle-pressed: #dcdde1;
  --ds-background-open: #f3f0ff;
  --ds-background-selected: #e9f2ff;
  --ds-background-selected-bold: #0c66e4;
  --ds-background-selected-bold-hovered: #0055cc;
  --ds-background-selected-bold-pressed: #09326c;
  --ds-background-selected-hovered: #cce0ff;
  --ds-background-selected-pressed: #85b8ff;
  --ds-background-severe: #fff1e5;
  --ds-background-severe-bold: #a54800;
  --ds-background-severe-bold-hovered: #702e00;
  --ds-background-severe-bold-pressed: #4a1e00;
  --ds-background-success: #dffcf0;
  --ds-background-success-bold: #216e4e;
  --ds-background-success-bold-hovered: #1f845a;
  --ds-background-success-bold-pressed: #164b35;
  --ds-background-warning: #fff7d6;
  --ds-background-warning-bold: #e2b203;
  --ds-background-warning-bold-hovered: #cf9f02;
  --ds-background-warning-bold-pressed: #b38600;
  --ds-blanket: #091e427a;
  --ds-blanket-selected: #388bff29;
  --ds-border: #dcdde1;
  --ds-border-accent-blue: #1d7afc;
  --ds-border-accent-green: #22a06b;
  --ds-border-accent-lime: #6a9a23;
  --ds-border-accent-magenta: #cd519d;
  --ds-border-accent-orange: #d97008;
  --ds-border-accent-purple: #8270db;
  --ds-border-accent-red: #e34935;
  --ds-border-accent-teal: #2898bd;
  --ds-border-accent-yellow: #cf9f02;
  --ds-border-attention: #d4a72c;
  --ds-border-bold: #758195;
  --ds-border-brand: #0c66e4;
  --ds-border-danger: #e34935;
  --ds-border-discovery: #8270db;
  --ds-border-focused: #388bff;
  --ds-border-information: #1d7afc;
  --ds-border-selected: #0c66e4;
  --ds-border-severe: #cf9f02;
  --ds-border-success: #22a06b;
  --ds-border-warning: #cf9f02;
  --ds-border-width: 1px;
  --ds-border-width-focused: 2px;
  --ds-border-width-selected: 2px;
  --ds-border-width-thick: 3px;
  --ds-control-large: 40px;
  --ds-control-medium: 32px;
  --ds-control-small: 28px;
  --ds-control-xlarge: 48px;
  --ds-control-xsmall: 24px;
  --ds-font-weight-bold: 700;
  --ds-font-weight-light: 300;
  --ds-font-weight-medium: 500;
  --ds-font-weight-regular: 400;
  --ds-font-weight-semibold: 600;
  --ds-lineHeight-condensed: 1.25;
  --ds-lineHeight-default: 1.5;
  --ds-lineHeight-tight: 1;
  --ds-link: #0c66e4;
  --ds-link-pressed: #0055cc;
  --ds-radius-050: 3px;
  --ds-radius-100: 4px;
  --ds-radius-200: 8px;
  --ds-radius-300: 12px;
  --ds-radius-400: 16px;
  --ds-radius-pill: 9999px;
  --ds-radius-round: 50%;
  --ds-shadow-floating: 0px 12px 28px 0 rgba(9, 30, 66, 0.2), 0px 4px 10px 0 rgba(9, 30, 66, 0.1);
  --ds-shadow-overflow: 0px 0px 8px #091e4229, 0px 0px 1px #091e424f;
  --ds-shadow-overlay: 0px 8px 12px #091e4226, 0px 0px 1px #091e424f;
  --ds-shadow-raised: 0px 1px 1px #091e4240, 0px 0px 1px #091e424f;
  --ds-space-0: 0px;
  --ds-space-025: 0.125rem;
  --ds-space-050: 0.25rem;
  --ds-space-075: 0.375rem;
  --ds-space-100: 0.5rem;
  --ds-space-1000: 5rem;
  --ds-space-150: 0.75rem;
  --ds-space-200: 1rem;
  --ds-space-250: 1.25rem;
  --ds-space-300: 1.5rem;
  --ds-space-400: 2rem;
  --ds-space-500: 2.5rem;
  --ds-space-600: 3rem;
  --ds-space-800: 4rem;
  --ds-space-negative-025: -0.125rem;
  --ds-space-negative-050: -0.25rem;
  --ds-space-negative-075: -0.375rem;
  --ds-space-negative-100: -0.5rem;
  --ds-space-negative-150: -0.75rem;
  --ds-space-negative-200: -1rem;
  --ds-space-negative-300: -1.5rem;
  --ds-space-negative-400: -2rem;
  --ds-surface: #ffffff;
  --ds-surface-overlay: #ffffff;
  --ds-surface-overlay-hovered: #f6f6f7;
  --ds-surface-overlay-pressed: #f1f2f4;
  --ds-surface-raised: #ffffff;
  --ds-surface-raised-hovered: #f6f6f7;
  --ds-surface-raised-pressed: #f1f2f4;
  --ds-surface-sunken: #f6f6f7;
  --ds-text: #202124;
  --ds-text-accent-blue: #0055cc;
  --ds-text-accent-blue-bolder: #09326c;
  --ds-text-accent-green: #216e4e;
  --ds-text-accent-green-bolder: #164b35;
  --ds-text-accent-lime: #4c6b1f;
  --ds-text-accent-lime-bolder: #37471f;
  --ds-text-accent-magenta: #943d73;
  --ds-text-accent-magenta-bolder: #50253f;
  --ds-text-accent-orange: #a54800;
  --ds-text-accent-orange-bolder: #702e00;
  --ds-text-accent-purple: #5e4db2;
  --ds-text-accent-purple-bolder: #352c63;
  --ds-text-accent-red: #ae2a19;
  --ds-text-accent-red-bolder: #601e16;
  --ds-text-accent-teal: #206a83;
  --ds-text-accent-teal-bolder: #164555;
  --ds-text-accent-yellow: #7f5f01;
  --ds-text-accent-yellow-bolder: #533f04;
  --ds-text-attention: #9a6700;
  --ds-text-brand: #0c66e4;
  --ds-text-closed: #ae2a19;
  --ds-text-danger: #ae2a19;
  --ds-text-disabled: #6e7078;
  --ds-text-discovery: #5e4db2;
  --ds-text-done: #216e4e;
  --ds-text-information: #0055cc;
  --ds-text-inverse: #ffffff;
  --ds-text-open: #5e4db2;
  --ds-text-selected: #0c66e4;
  --ds-text-severe: #a54800;
  --ds-text-subtle: #61636a;
  --ds-text-subtlest: #6e7078;
  --ds-text-success: #216e4e;
  --ds-text-warning: #a54800;
  --ds-text-warning-inverse: #202124;
}

.dark {
  --ds-background-accent-blue-bolder: #579dff;
  --ds-background-accent-blue-subtle: #09326c;
  --ds-background-accent-blue-subtlest: #1c2b41;
  --ds-background-accent-green-bolder: #4bce97;
  --ds-background-accent-green-subtle: #164b35;
  --ds-background-accent-green-subtlest: #1c3329;
  --ds-background-accent-lime-bolder: #94c748;
  --ds-background-accent-lime-subtle: #37471f;
  --ds-background-accent-lime-subtlest: #28311b;
  --ds-background-accent-magenta-bolder: #e774bb;
  --ds-background-accent-magenta-subtle: #50253f;
  --ds-background-accent-magenta-subtlest: #3d2232;
  --ds-background-accent-orange-bolder: #faa53d;
  --ds-background-accent-orange-subtle: #702e00;
  --ds-background-accent-orange-subtlest: #341a04;
  --ds-background-accent-purple-bolder: #9f8fef;
  --ds-background-accent-purple-subtle: #352c63;
  --ds-background-accent-purple-subtlest: #2b2440;
  --ds-background-accent-red-bolder: #f87462;
  --ds-background-accent-red-subtle: #601e16;
  --ds-background-accent-red-subtlest: #42221f;
  --ds-background-accent-teal-bolder: #60c6d2;
  --ds-background-accent-teal-subtle: #164555;
  --ds-background-accent-teal-subtlest: #1e3137;
  --ds-background-accent-yellow-bolder: #f5cd47;
  --ds-background-accent-yellow-subtle: #533f04;
  --ds-background-accent-yellow-subtlest: #332e1b;
  --ds-background-attention: #341a04;
  --ds-background-attention-bold: #d29922;
  --ds-background-attention-bold-hovered: #e2b203;
  --ds-background-attention-bold-pressed: #f5cd47;
  --ds-background-brand-bold: #579dff;
  --ds-background-brand-bold-hovered: #85b8ff;
  --ds-background-brand-bold-pressed: #cce0ff;
  --ds-background-closed: #42221f;
  --ds-background-danger: #42221f;
  --ds-background-danger-bold: #f87462;
  --ds-background-danger-bold-hovered: #fd9891;
  --ds-background-danger-bold-pressed: #ffd2cc;
  --ds-background-default: #202124;
  --ds-background-discovery: #2b2440;
  --ds-background-discovery-bold: #9f8fef;
  --ds-background-discovery-bold-hovered: #b8acf6;
  --ds-background-discovery-bold-pressed: #dfd8fd;
  --ds-background-done: #1c3329;
  --ds-background-information: #1c2b41;
  --ds-background-information-bold: #579dff;
  --ds-background-information-bold-hovered: #85b8ff;
  --ds-background-information-bold-pressed: #cce0ff;
  --ds-background-neutral: #a1bdd914;
  --ds-background-neutral-bold: #9fadbc;
  --ds-background-neutral-bold-hovered: #eeeff1;
  --ds-background-neutral-bold-pressed: #c7d1db;
  --ds-background-neutral-hovered: #a1bdd91f;
  --ds-background-neutral-pressed: #a1bdd929;
  --ds-background-neutral-subtle: #ffffff00;
  --ds-background-neutral-subtle-hovered: #a1bdd914;
  --ds-background-neutral-subtle-pressed: #a1bdd929;
  --ds-background-open: #2b2440;
  --ds-background-selected: #1c2b41;
  --ds-background-selected-bold: #579dff;
  --ds-background-selected-bold-hovered: #85b8ff;
  --ds-background-selected-bold-pressed: #cce0ff;
  --ds-background-selected-hovered: #2c4260;
  --ds-background-selected-pressed: #345074;
  --ds-background-severe: #341a04;
  --ds-background-severe-bold: #f5cd47;
  --ds-background-severe-bold-hovered: #f5cd47;
  --ds-background-severe-bold-pressed: #f8e6a0;
  --ds-background-success: #1c3329;
  --ds-background-success-bold: #4bce97;
  --ds-background-success-bold-hovered: #7ee2b8;
  --ds-background-success-bold-pressed: #baf3db;
  --ds-background-warning: #332e1b;
  --ds-background-warning-bold: #f5cd47;
  --ds-background-warning-bold-hovered: #f8d66d;
  --ds-background-warning-bold-pressed: #ffe2a0;
  --ds-blanket: #03040480;
  --ds-blanket-selected: #579dff40;
  --ds-border: #41444b;
  --ds-border-accent-blue: #579dff;
  --ds-border-accent-green: #4bce97;
  --ds-border-accent-lime: #94c748;
  --ds-border-accent-magenta: #e774bb;
  --ds-border-accent-orange: #faa53d;
  --ds-border-accent-purple: #9f8fef;
  --ds-border-accent-red: #f87462;
  --ds-border-accent-teal: #60c6d2;
  --ds-border-accent-yellow: #f5cd47;
  --ds-border-attention: #d29922;
  --ds-border-bold: #9a9da6;
  --ds-border-brand: #579dff;
  --ds-border-danger: #f87462;
  --ds-border-discovery: #9f8fef;
  --ds-border-focused: #579dff;
  --ds-border-information: #579dff;
  --ds-border-selected: #579dff;
  --ds-border-severe: #f5cd47;
  --ds-border-success: #4bce97;
  --ds-border-warning: #f5cd47;
  --ds-link: #579dff;
  --ds-link-pressed: #85b8ff;
  --ds-shadow-floating: 0px 12px 28px 0 rgba(0, 0, 0, 0.5), 0px 4px 10px 0 rgba(0, 0, 0, 0.3);
  --ds-shadow-overflow: 0px 0px 8px #0304045c, 0px 0px 1px #bcd6f00a;
  --ds-shadow-overlay: 0px 8px 12px #0304045c, 0px 0px 1px #bcd6f00a;
  --ds-shadow-raised: 0px 1px 1px #03040442, 0px 0px 1px #bcd6f00a;
  --ds-surface: #202124;
  --ds-surface-overlay: #292b2f;
  --ds-surface-overlay-hovered: #303238;
  --ds-surface-overlay-pressed: #393c43;
  --ds-surface-raised: #25262a;
  --ds-surface-raised-hovered: #292b2f;
  --ds-surface-raised-pressed: #303238;
  --ds-surface-sunken: #17181a;
  --ds-text: #eeeff1;
  --ds-text-accent-blue: #579dff;
  --ds-text-accent-blue-bolder: #bcd6f0;
  --ds-text-accent-green: #4bce97;
  --ds-text-accent-green-bolder: #baf3db;
  --ds-text-accent-lime: #94c748;
  --ds-text-accent-lime-bolder: #d3f1a7;
  --ds-text-accent-magenta: #e774bb;
  --ds-text-accent-magenta-bolder: #fdd0ec;
  --ds-text-accent-orange: #faa53d;
  --ds-text-accent-orange-bolder: #fedec8;
  --ds-text-accent-purple: #9f8fef;
  --ds-text-accent-purple-bolder: #dfd8fd;
  --ds-text-accent-red: #f87462;
  --ds-text-accent-red-bolder: #ffd2cc;
  --ds-text-accent-teal: #60c6d2;
  --ds-text-accent-teal-bolder: #b3dfe5;
  --ds-text-accent-yellow: #f5cd47;
  --ds-text-accent-yellow-bolder: #f8e6a0;
  --ds-text-attention: #d29922;
  --ds-text-brand: #579dff;
  --ds-text-closed: #f87462;
  --ds-text-danger: #f87462;
  --ds-text-disabled: #bfdbf847;
  --ds-text-discovery: #9f8fef;
  --ds-text-done: #4bce97;
  --ds-text-information: #579dff;
  --ds-text-inverse: #202124;
  --ds-text-open: #9f8fef;
  --ds-text-selected: #579dff;
  --ds-text-severe: #f5cd47;
  --ds-text-subtle: #b0b2b9;
  --ds-text-subtlest: #9a9da6;
  --ds-text-success: #4bce97;
  --ds-text-warning: #f5cd47;
  --ds-text-warning-inverse: #202124;
}
/* DESIGN_TOKENS_END */
